:root{
  --primary-color: #546E7A;
  --text-primary: white;
  --secondary-color: #00BFA5;
  --black: #333333;
  --white: white;
}

html{
  color: var(--black);
}

h1,
h2,
h3{
  color:var(--primary-color)
}

a{
  color: var(--secondary-color);
}